.navbar{
    position: sticky;
    width:100%;
    padding:20px;
    background-color: #031163;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0.2rem 0.5rem 0 rgb(64 79 89 / 25%);
}
.navlink{
color: white;
}
.logo_container{
width: 90px;
height: 50px;
}