.bookingContainer {
  display: flex;
  height: calc(100vh - 90px);
}
.controlPanel {
  width: 40%;
  height: 100%;
  box-shadow: 0 0.2rem 0.5rem 0 rgb(64 79 89 / 25%);
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bookingSide {
  width: 60%;
  height: 100%;
}
.map {
}
.button {
  outline: none;
  padding: 20px;
  color: white;
  margin: 20px;
  width: 100%;
  background-color: darkmagenta;
}
.buttonSubmit {
  outline: none;
  padding: 20px;
  color: white;
  margin: 20px;
  width: 100%;

  background-color: green;
}
